@(itemForm: Form[Item],items: Seq[Item],categories : Seq[Category])


@main("My First Scala Tutorial") {
<div class="container">
 <section class="" >
     <h2>Add New Item </h2>

     <div class="" >
     @helper.form(action = routes.Application.addItem(),'role -> "form",'class -> "form-horizontal") {
     <div class="control-group">
         <label Class="control-label" >Item Name</label>
         <div class="controls">
             <input required name="name" placeholder="Enter category name here" type="text" class="form-control"/>
         </div>
     </div>

     <div class="control-group">
         <label Class="control-label" >Category</label>
           <div class="controls">
              <select required name="categoryId" placeholder="" type="text" class="form-control">
                @if(categories.isEmpty) {
                  <option value="">Add a category first</option>

                } else {

                  @for(c <- categories) {
                  <option value=@c.id >@c.name</option>
                  }

                }
              </select>
           </div>
     </div>

     <div class="control-group">
         <label Class="control-label" >Price</label>
         <div class="controls">
             <input required name="price" placeholder="" type="text" class="form-control"/>
         </div>
     </div>

         <div class="control-group">
             <label Class="control-label" >Quantity</label>
             <div class="controls">
                 <input required name="quantity" placeholder="" type="text" class="form-control"/>
             </div>
         </div>

         <div class="control-group">
             <label Class="control-label" >Condition</label>
             <div class="controls">
                 <select required name="condition" placeholder="" type="text" class="form-control">
                     <option>New</option>
                     <option>Used</option>
                 </select>
             </div>
         </div>
         <div class="control-group">
             <label Class="control-label" >Color</label>
             <div class="controls">
                 <select required name="color" placeholder="" type="text" class="form-control">
                     <option>Cyan</option>
                     <option>Blue</option>
                     <option>Black</option>
                     <option>Green</option>
                     <option>Red</option>
                     <option>Pink</option>
                     <option>Violet</option>
                     <option>Purple</option>
                     <option>White</option>
                 </select>
             </div>
         </div>

     <input type="submit" class="btn btn-primary" style="margin-top: 10px;margin-left: 280px;margin-bottom:10px;"/><br/>
 }
 </div>
 </section>



 <section class="">

     @if(items.isEmpty) {
     <h1>No items at the moment</h1>
     } else {
     <table class="table table-bordered table-striped">
         <thead>
         <tr>
             <td>Item Name</td>
             <td>Price</td>
             <td>Quantity</td>
             <td>Condition</td>
             <td>Color</td>
             <td>Action</td>
         </tr>
         </thead>
     <tbody>
     @for(i <- items) {
     <tr>
     <td>@i.name</td>
     <td>$  @i.price</td>
     <td>@i.quantity</td>
     <td>@i.condition</td>
     <td>@i.color</td>
     <td><a type="button" class="btn btn-sm btn-danger" href="/item/remove/@i.name"/>Delete</a></td>
     </tr>
     }
     </tbody>
     </table>

     }
 </section>
</div>
}
